<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
 
    <title>Resultado da busca</title>
</head>
<body>
    <div class="container container-jumbotron">
          <h1 class="display-4">Cotação da moeda</h1>
          <p class="lead">O resultado de sua consulta é: <b class="bg-warning" ><%= dado.high %></b> </p>
          <hr class="my-4">
          <p>Para mais informações sobre cotação de moedas, clique em saiba mais e mantenha-se atualizado.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="https://www.bcb.gov.br/estabilidadefinanceira/cotacoestodas" role="button">Saiba mais</a>
          <a class="btn btn-secondary btn-lg" href="/" role="button">retornar</a>
       
        </p>
        <div class="card-footer text-muted">03/02/2021 às 13:00</div>
    </div>
</body>
</html>